*{
    padding: 0px;
    margin: 0px;
}
body{
    padding-left: 25px;
    margin: 8px;
}
#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
}
.container{
    height: 100vh;
    width: 100%;
    
    background-image: url(n6.jpg );
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;  
}   
.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.50);
    opacity: 0.9;
    perspective: 1000px;
}
.inner-box{
    
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(n8.jpg);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);

}
h2{
    margin: 8px;
    padding: 8px;
}
h1{
    opacity: 0.6;
}
.input-box{
    width: 100%;
    background: transparent;
    border: solid 1px #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
::placeholder{
    color: #fff;
    font-size: 12px;
}
button{
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    margin: 35px 0 10px;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    cursor: pointer;
    padding:10px 0;
}
.submit-btn{
    position: relative;
}
.submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50% ;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
span{
    font-size: 18px;
    margin: 1px;
}
.btn .card{
    margin-top: 70px;
}
.card a{
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 8px;
    font-size: 18px;
}
p{
    margin: 10px;
    padding: 8px;
    font-size: 25px;
}

footer{
    width: 100%;
    height: 125px;
    background-color: slategray;
}
footer span{
    color: snow;
    
}
footer {
    padding: 10px;
    color: black;
}
.nav-bar{
    
    padding-left: 900px;
}
nav a{
    
    text-shadow: 2px black;
    display: flexbox;
    text-shadow:0 0 40px 20px rgba(0, 0, 0, 0.50);;
    padding-left: 30px;
    text-decoration: none;
    line-height: 20px;;
}
.nike{
    display: flex;
    align-items: center;
}

@media  screen and (max-width:260px) {
    .container{
        margin: 35px;
        width: 250px;
        height: 200px;
       position: absolute;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
        padding-top: 50%;
                }
                .card{
                    height: 50%;
                    width: 50%;
                }
                .card a{
                    margin-top: 4px;
                    font-size: 10px;
                }
                input{
                        height: 50%;
                        width: 50%;
                }
                nav a{
                    line-height: 2%;
                }
}
